

.form {
    background-image: url(img-7.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    padding-bottom: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center
}

.form h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: 'playfair display', serif;
    font-size: 30px;
    margin-top: 8%;
    padding: 10px 40px;
    
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.title {
    padding: 10px;
}

.form-data {
    margin: 10px 10px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    padding: 30px 40px;
    overflow: hidden;

    /*
    display: grid;
    grid-template: auto;
    row-gap: 15px; 
    */   

    column-width: 200px;

    color: #ffffff;
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

td {
    width: 150px;
}

#country {
    width: 180px;
    height: 21px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#input_box {
    width: 180px;
    height: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


/* btn animation */

.btn-submit{
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.btn-submit:hover {
    background-color: #ffffff;
    color: #000000;
}

/* making responsive */

@media screen and (max-width: 768px) {
    .title {
        padding: 5%;
    }

    .form h2 {
        padding: 10px;
    }

    .form-data {
        margin: 10px;
        padding: 20px;
    }

    .btn-submit {
        padding: 10px 20px;
    }

}